* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #BDE8F5;
    /* display: block; */
    font-family: cursive;
    line-height: 1.5;
    /* padding: 40px;  */
    display: flex; 
    margin: 200px auto;
    justify-content: center;
    align-items: center;
    color: #3F4F44;
    font-size: 14px;
}

h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.hero {
    background-color: white;
    width: 300px;
    border-radius: 2%;
    text-align: center;
    padding: 20px;
}

.section {
    background-color: #BDE8F5;
    border-radius: 2%;
    width: 300px;
    display: block;
    margin-bottom: 16px;
}

.img {
    /* width: 200px; */
    height: 260px;
    display: block;
    justify-self: center;
    padding: 20px 0;
}